[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "TXdifFif9s3D7s28w78GphI72"},
	    {api_secret, "HInA5LmPq9WESX9P8Sgpu4JtnWGnylh4FKWj3QWYjVgzrBzpTo"},
	    {access_token, "2787238091-6QQABMYsMNU66COfEa0qzJ2UxjHECm6zoxWvO9y"},
	    {access_token_secret, "WmvS4UC2F3V6lo4cjNdwfkpIlsqprD8R1l1dAj1egIG08"}]
    }]}]}].
