[{twitterminer, [
  {server, "garak.skip.chalmers.se"},
  {twitter_accounts, [
    {account1, [
      {api_key, "POeCzHEQVHl8sMIc7uqFYjDHF"},
      {api_secret, "iWF3wvB1B2YGWnQmJOdQmncpasnUrocERiWnAX6pE3gvUibRut"},
      {access_token, "2787238091-6QQABMYsMNU66COfEa0qzJ2UxjHECm6zoxWvO9y"},
      {access_token_secret, "WmvS4UC2F3V6lo4cjNdwfkpIlsqprD8R1l1dAj1egIG08"}]
    }]}]},
{kernel, [
  {distributed, [
	    {twitterminer,
	    	5000,
	    	['twitterminer@picard.skip.chalmers.se', {'twitterminer@greedo.skip.chalmers.se', 'twitterminer@bobafett.skip.chalmers.se', 'twitterminer@garak.skip.chalmers.se'}, 'twitterminer@ec2-54-171-106-214.eu-west-1.compute.amazonaws.com']}]},
  	{sync_nodes_optional, ['twitterminer@greedo.skip.chalmers.se', 'twitterminer@bobafett.skip.chalmers.se', 'twitterminer@garak.skip.chalmers.se', 'twitterminer@ec2-54-171-106-214.eu-west-1.compute.amazonaws.com']},
 	{sync_nodes_mandatory, ['twitterminer@picard.skip.chalmers.se']},
  	{sync_nodes_timeout, 30000}
    ]}].