[{twitterminer, [
  {server, "greedo.skip.chalmers.se"},
  {twitter_accounts, [
    {account1, [
      {api_key, "goiw5gRTlTv6z1p91IcWVXqq3"},
      {api_secret, "dOz5JhKPuhVQVnYj5W6cCU8YD9dULF6ZdcZaz6WxgEbz54LbFJ"},
      {access_token, "2787238091-0P5VBw9ki5iRJiqfiZAhzz7taBPX6g8LWyHCTaq"},
      {access_token_secret, "o0ifUMXj1F0xisX5Ft90hgw3UtqRRYUi0Tx5TmCrqAmpc"}]
    }]}]},
{kernel, [
  {distributed, [
	    {twitterminer,
	    	5000,
	    	['twitterminer@picard.skip.chalmers.se', {'twitterminer@greedo.skip.chalmers.se', 'twitterminer@bobafett.skip.chalmers.se', 'twitterminer@garak.skip.chalmers.se'}, 'twitterminer@ec2-54-171-106-214.eu-west-1.compute.amazonaws.com']}]},
  	{sync_nodes_optional, ['twitterminer@greedo.skip.chalmers.se', 'twitterminer@bobafett.skip.chalmers.se', 'twitterminer@garak.skip.chalmers.se', 'twitterminer@ec2-54-171-106-214.eu-west-1.compute.amazonaws.com']},
 	{sync_nodes_mandatory, ['twitterminer@picard.skip.chalmers.se']},
  	{sync_nodes_timeout, 30000}
    ]}].