[{twitterminer, [
  {server, "picard.skip.chalmers.se"},
{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "TXdifFif9s3D7s28w78GphI72"},
	    {api_secret, "HInA5LmPq9WESX9P8Sgpu4JtnWGnylh4FKWj3QWYjVgzrBzpTo"},
	    {access_token, "2787238091-6QQABMYsMNU66COfEa0qzJ2UxjHECm6zoxWvO9y"},
	    {access_token_secret, "WmvS4UC2F3V6lo4cjNdwfkpIlsqprD8R1l1dAj1egIG08"}]
    }]}]},
{kernel, [
  {distributed, [
	    {twitterminer,
	    	5000,
	    	['twitterminer@picard.skip.chalmers.se', {'twitterminer@greedo.skip.chalmers.se', 'twitterminer@bobafett.skip.chalmers.se', 'twitterminer@garak.skip.chalmers.se'}, 'twitterminer@ec2-54-171-106-214.eu-west-1.compute.amazonaws.com']}]},
  	{sync_nodes_optional, ['twitterminer@greedo.skip.chalmers.se', 'twitterminer@bobafett.skip.chalmers.se', 'twitterminer@garak.skip.chalmers.se', 'twitterminer@ec2-54-171-106-214.eu-west-1.compute.amazonaws.com']},
 	{sync_nodes_mandatory, ['twitterminer@picard.skip.chalmers.se']},
  	{sync_nodes_timeout, 30000}
    ]}].